*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(238, 213, 70);
}

//-----Nav Bar - Logo
.container{
    display: flex;
    background-color: black;
    height: 60px;
    
    &__logo{
        color: white;
        padding: 12px 25px;
        
        &__spanlogo{
            color: palevioletred;
        }
    }
}

// dashboard
.sidebar{
    width: 5%;
    height: 100vh;;
    background-color: palevioletred;
    border: 2px solid black;
    border-radius: 15px;
    float: left;
    

    &__sideicons{
       

      &__ul{
       padding:20px 0px;


       &__li{
       padding: 30px 0px;
       list-style: none;
        text-align: center;
       &__image{
        width: 35px;
        height:40px;
        border-radius: 30%;
        border: 2px solid black;
        }

        
       }

      }




    }
}

.main{
    display: flex;
    width: 75%;
    height: 100vh;
    border: 3px solid purple;
    float: right;
}