@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
 height:100%;   
 background-color: rgb(238, 213, 70);
 min-height: 100vh;
 width: 100%;
 overflow: hidden;
}

//-----Nav Bar - Logo
.container{
    display: flex;
    background-color: black;
    height: 60px;
    
    &__logo{
        color: white;
        padding: 12px 25px;
        
        &__spanlogo{
            color: palevioletred;
        }
    }

    &__h2Welcome{
      display: flex;
      justify-content: space-around;
      padding: 20px 0px;
      margin: 0 auto;
      letter-spacing:0.1cm;
      text-transform: uppercase;   
        
      &__spanWelcome{
        padding: 0px 30px;
        color: palevioletred;
        text-transform: capitalize;
      }
    }
}

@media screen and (max-width: 600px){

  .container{
    &__logo{
      font-size: 30px;
    }

    &__h2Welcome{
      font-size: 20px;

      &__spanWelcome{
        padding: 0px 10px;
      }
    }
  }
}

//-----SideBar Style
.sidebar{
  position: fixed;
  left: 0;
  top: 59px;
  height: 100%;
  width: 100px;
  background-color: palevioletred;
  border: 1px solid black;
  float: left;
  cursor:pointer;

  &__sideicons{
    display: flex;
    justify-content: center;
    align-items: center;

    &__ul{
        
      &__li{
        margin:40px 0px;
        list-style: none;
        text-align: center;
        font-size: 15px;
        
        &__image{
          width: 40px;
          height:40px;
          border-radius: 30%;
          border: 2px solid black;
        }
         
        &__image:hover{
          width: 48px;
          transition: 0.5s;
          background-color: rgb(237, 233, 17);
        }
          
        #infoOnBar{
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  .sidebar{
    width: 80px;
  
    &__sideicons{
  
      &__ul{
          
        &__li{
          font-size: 11px;
          
          &__image{
            width: 30px;
            height: 30px;
          }
           
          &__image:hover{
            width: 38px;
          }
        }
      }
    }
  }
}

//-----Dashboard Style
.main{
  display: flex;
  width: 80%;
  height: 100vh;
  float: right;

  &__show{
    width: 100%;
    height: 100vh;

    //-----Memo
    &__showMemo{
    margin: 50px 0px;
    text-align: center;
    width: 100%;
    height: 100vh;

      &__h1{
        color: palevioletred;
      }

      &__showMemoMain{
      margin: 50px 0px;
      
        &__input{
        border-radius: 1rem;
        font-size: 23px;
        padding: 1px 5px;
        margin: 0 5px;
        color: palevioletred;
        background-color: black;
        outline: none;
        }

        &__button{
            border-radius: 50%;
            width: 44px;
            height: 37px;
            background-color: palevioletred;
            font-size: 20px;
            border: 1px solid black;
        }
        &__footer{
          display: flex;
          justify-content: center;
          flex: 1;
          margin: 30px 0px;
          

          &__mainpar{
            width: 300px;
            height: 300px;
            
            .newp{
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 20px;
              border: 3px solid #414a67;
              background-color: palevioletred;
              border-radius: 1rem;
              padding: 4px;
              margin: 6px 0px;
              text-align: left;

              &--finished{
                text-decoration: line-through;
              }

              #delete  {
               padding-right: 4px;
                     }

                #finish{
                  margin-left: auto;
                  padding-right: 14px;
                  
                  
                }     
            }
          }
         }
        
      }
    }
          .showUserTool{
            
            height: 100vh;
            &__banks{
              

              &__h2banks{
                margin: 20px 0px;
              }

               &__poalim{
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                background-color:#dc3545;
                color: white;
                padding:6px;
                border-radius: 25%;
               }
               &__leumi{
                background-color:#0097f0;
                color: white;
                padding:6px;
                border-radius: 25%;
               }
               &__mizrahi{
                background-color:#ff780b;
                color: white;
                padding:6px;
                border-radius: 25%;
               }
               &__discount{
                background-color:#3a880f;
                color: white;
                padding:6px;
                border-radius: 25%;
               }
              }
          
             &__insurance{


                &__h2ins{

                }
                 
                &__migdal{
                  background-color:#0e2d6d;
                color: white;
                padding:6px;
                border-radius: 25%;
                }

                &__phoenix{
                  background-color:#ff5a23;
                color: white;
                padding:6px;
                border-radius: 25%;
                }
                
                  &__harel{
                  background-color:#003c7f;
                  color: white;
                  padding:6px;
                  border-radius: 25%;;
                  color: white;
                  padding:6px;
                  border-radius: 25%;
                }

                &__clal{
                  background-color:#0097ff;
                  color: white;
                  padding:6px;
                  border-radius: 25%;;
                  color: white;
                  padding:6px;
                  border-radius: 25%;
                }
                &__menora{
                  background-color:#37374e;
                  color: white;
                  padding:6px;
                  border-radius: 25%;;
                  color: white;
                  padding:6px;
                  border-radius: 25%;
                }

             }
          
          
          
          
          }


  }
}

//-----Expense Calc.
.wrapper{
  width: 90%;
  font-size: 16px;
  max-width: 43.75em;
  margin: 1em auto;

  &__container{
      width: 100%;

      &__sub-container{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 3em;

          h3{
              color: #363d55;
              font-weight: 600;
              margin-bottom: 0.6em;
          }

          input{
              display: block;
              width: 100%;
              padding: 0.6em 0.3em;
              border: 1px solid #d0d0d0;
              border-radius: 0.3em;
              color: #414a67;
              outline: none;
              font-weight: 400;
              margin-bottom: 0.6em;

              &:focus{
                  border-color: palevioletred;
              }
          }

          &__total-amount-container,
          &__user-amount-container{
              background-color: transparent;
              padding: 1.25em 0.9em;
              border-radius: 0.3em;

              &__submit{
                  font-size: 1em;
                  margin-top: 0.8em;
                  background-color: palevioletred;
                  border: none;
                  outline: none;
                  color: #ffffff;
                  padding: 0.6em 1.2em;
                  border-radius: 0.3em;
                  cursor: pointer;
              }

              &__product-title{
                  margin-bottom: 1em;
              }

          }

          //--Output
          &__output-container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: palevioletred;
              color: #ffffff;
              border-radius: 0.3em;
              box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
              margin: 2em 0;
              padding: 1.2em;

              p{
                  font-weight: 500;
                  margin-bottom: 0.6em;
              }

              span{
                  display: block;
                  text-align: center;
                  font-weight: 400;
                  color: #e5e5e5;
              }
          }

          //--List
          &__list{
              background-color: #ffffff;
              padding: 1.8em 1.2em;
              box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
              border-radius: 0.6em;

              .flex-space{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
              }

              .sublist-content{
                  width: 100%;
                  border-left: 0.3em solid palevioletred;
                  margin-bottom: 0.6em;
                  padding: 0.5em 1em;
                  display: grid;
                  grid-template-columns: 3fr 2fr 1fr 1fr;
              }

              .product{
                  font-weight: 500;
                  margin-left: 1.5em;
                  color: #363d55;
              }

              .amount{
                  color: #414a67;
                  margin-left: 20%;
              }

              .edit{
                  margin-left: auto;
              }

              .edit, .delete{
                  background: transparent;
                  cursor: pointer;
                  margin-left: 1.5em;
                  border: none;
                  color: palevioletred;
              }
          }
      }
  }
}

@media screen and (max-width: 600px){
  .wrapper{
      font-size: 14px;

      &__container{
          width: 100%;
  
          &__sub-container{
              grid-template-columns: 1fr;
              gap: 1em;
          }
      }
  }
}

//-----Monitor
.monitorContainer{
  width: 100%;
  font-size: 16px;
  max-width: 100%;
  margin: 1em auto;

  &__chart{
      width: 100%;
  }

  &__h3{
    color: #363d55;
    font-weight: 600;
    margin-bottom: 0.6em;
    text-align: center;
  }
}

@media screen and (max-width: 600px){
  .monitorContainer{
    font-size: 14px;
    
    &__chart{
      width: 100%;
    }
  }
}

.showCurrency {
  width: 90%;
  font-size: 16px;
  max-width: 40em;
  margin: 1rem auto;
  .currencyContainer{
    margin-left: 8rem;
    margin-top: 5rem;
    h2 {
      color: rgb(60, 56, 56);
      margin-bottom: 3rem;
      
    }
  
    input {
      display: block;
      width: 50%;
      padding: 0.6em 0.3em;
      border: 1px solid #d0d0d0;
      border-radius: 0.3em;
      color: #414a67;
      outline: none;
      font-weight: 400;
      margin: 2rem 0 2rem 0;
      // margin-bottom: 0.6em;
      // margin-top: 0.6em;
    }
  
    button {
      margin-left: 6rem;
      font-size: 1em;
      background-color: palevioletred;
      border: none;
      outline: none;
      color: #ffffff;
      padding: 0.6em 1.2em;
      border-radius: 0.3em;
      cursor: pointer;
    }
  
    #chooseCurrency {
      justify-content: center;
      padding: 0.6em 0.3em;
      border: 1px solid #d0d0d0;
      border-radius: 0.3em;
      color: #50576c;
      outline: none;
      font-weight: 400;
      margin-bottom: 0.6em;
      margin-left: 3.5rem;
      
    }
  }
}

//-----Currency
.currencyConverter{
  margin: 5em auto;
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #FFF;

  &__header{
      font-size: 28px;
      font-weight: 500;
      text-align: center;
  }

  &__form{
      margin: 40px 0 20px 0;

      &__amount{

          &__p{
              font-size: 18px;
              margin-bottom: 5px;
          }

          &__input{
              width: 100%;
              outline: none;
              height: 50px;
              font-size: 17px;
              padding: 0 15px;
              border: 1px solid #999;
              border-radius: 5px;

              &:focus{
                  padding: 0 14px;
                  border: 2px solid #6258d3;
              }
          }
      }

      &__drop-list{
          display: flex;
          margin-top: 20px;
          align-items: center;
          justify-content: space-between;

          &__from{

              &__select-box{
                  display: flex;
                  height: 45px;
                  width: 115px;
                  border-radius: 5px;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #999;

                  &__img{
                      max-width: 25px;
                  }

                  &__select{
                      width: auto;
                      outline: none;
                      border-radius: 5px;
                      border: none;
                      font-size: 16px;
                      margin: 0 -5px 0 5px;
                  }
              }
          }

          &__to{

              &__select-box{
                  display: flex;
                  height: 45px;
                  width: 115px;
                  border-radius: 5px;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #999;

                  &__img{
                      max-width: 25px;
                  }

                  &__select{
                      width: auto;
                      outline: none;
                      border-radius: 5px;
                      border: none;
                      font-size: 16px;
                      margin: 0 -5px 0 5px;
                  }
              }
          }

          &__icon{
              cursor: pointer;
              font-size: 22px;
              margin-top: 25px;
          }
      }

      &__exchange-rate{
          font-size: 17px;
          margin: 20px 0 30px;
      }

      &__btn{
          width: 100%;
          height: 52px;
          outline: none;
          border-radius: 5px;
          border: none;
          font-size: 17px;
          color: #fff;
          background: palevioletred;
          cursor: pointer;
      }
  }
}

@media screen and (max-width: 600px){
  .currencyConverter{

    &__header{
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }

    &__form{
      font-size: 16px;

      &__amount{

        &__p{
            font-size: 16px;
            margin-bottom: 5px;
        }
      }
    }
  }
}

