@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
 height: 100%;   
background-color: rgb(238, 213, 70);
}

//-----Nav Bar - Logo
.container{
    display: flex;
    background-color: black;
    height: 60px;
    
    &__logo{
        color: white;
        padding: 12px 25px;
        
        &__spanlogo{
            color: palevioletred;
        }
    }
        &__h2Welcome{
           display: flex;
           justify-content: space-around;
           padding: 20px 0px;
           margin: 0 auto;
           letter-spacing:0.1cm;
           text-transform: uppercase;


           &__spanWelcome{
            padding: 0px 30px;
            color: palevioletred;
            text-transform: capitalize;
           }
        }

}


// dashboard
.sidebar{
    width: 10%;
    height: 100vh;;
    background-color: palevioletred;
    border: 2px solid black;
    border-radius: 15px;
    float: left;
    cursor:pointer;

    

    &__sideicons{
      display: flex;
      justify-content: center;
      align-items: center;

      &__ul{
      
        


       &__li{
        margin:40px 0px;
        list-style: none;
        text-align: center;
        
        
       
        &__image{
        width: 40px;
        height:40px;
        border-radius: 30%;
        border: 2px solid black;
         }
         
         
         &__image:hover{
            width: 48px;
            transition: 0.5s;
            background-color: rgb(237, 233, 17);
        }



         #infoOnBar{
            color: white;
         }
       }

      }




    }
}

.main{
    display: flex;
    width: 90%;
    height: 100vh;
    border: 3px solid purple;
    float: right;
}