*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: sans-serif;
background-color: rgb(238, 213, 70);

// navbar

.container{
    display: flex;
    background-color: black;
    height: 60px;


&__logo{
    color: white;
    padding: 12px 25px;

    &__spanlogo{
        color: palevioletred;
    }
}
.navbar{
    width:85%;
    display: flex;
     justify-content: center;

    &__li{
        list-style: none;
        padding: 15px 40px;
        margin-right: 30px;
        font-size: 24px;
        color: palevioletred;
        
        // &__li{

        // }
    }
    }
        
}}


// login

.login{
    width: 300px;
    padding: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    background-color: rgb(0,0,0,0.8);
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 39px 39px 39px 39px;
    
    &.login:hover{
        background-color: rgb(0,0,0,0.9);
        border:3px solid palevioletred ; 
        width: 330px;
        transition: 0.8s;
    }

    &__h1{

        color: white;
        text-transform: uppercase;
        font-weight: 650;
    }

   &__userName, &__password{

        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border:3px solid palevioletred;
        padding: 14px 10px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25px;
    }

    &__userName:focus, &__password:focus{
        border-color: goldenrod;
        width: 220px;
        }

   &__submit{
            border: 0;
            background: none;
            margin: 20px auto;
            text-align: center;
            border:3px solid palevioletred;
            padding: 14px 10px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25px;
            cursor: pointer;
            }

            &__submit:hover{
                background:goldenrod;
            }
    }







 








